.row {
	margin-bottom: 30px;
}
.after-topbar {
    margin-top: 60px;
}
pre.cli {
    background-color: #121212;
    color: #CCCCCC;
}

table {
	margin-bottom: 1.5em;
}

table.method {
	border: 3px solid #CCC;
	width: 100%;
}

table.method td,
table.method th {
	border-collapse: collapse;
	font-size: 85%;
	border: 1px solid #CCC;
}

table.method td,
table.method th {
	padding: 8px;
}

table.method td {
	background-color: #FFF;
}

table.method tbody th {
	text-align: left;
	background-color: #f8f8f8;
}

table.method td pre,
table.method td code {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

table.method td pre {
	padding: 9px;
}

table.config {
	border: 3px solid #CCC;
	width: 100%;
}

table.config td,
table.config th {
	border-collapse: collapse;
	font-size: 85%;
	border: 1px solid #CCC;
}

table.config td,
table.config th {
	padding: 8px;
}

table.config td {
	background-color: #FFF;
}

table.config tbody th {
	text-align: left;
	background-color: #f8f8f8;
}

table.config td pre,
table.config td code {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

table tr.header th {
	background-color: #555;
	color: #FFF;
}
table .header:after {
    display: none;
}

table.parameters {
	margin: -5px;
}

table.valign th,
table.valign td {
	vertical-align: middle;
}

th.description {
	width: 100%;
}

th.legend {
	width: 125px;
}

table th.small,
table td.small {
	width: 100px;
	white-space: nowrap;
}

table table {
	font-size: 110%;
}